# Dask tips & tricks

In [32]:
import numpy as np
import dask.dataframe as dd

In [33]:
# Random df & similar df with more data
values = np.around(np.random.random([7,3]), 2)
ddf1 = dd.from_array(values, columns=['A','B','C'])
values = np.concatenate(([[1.1, 2.1, 3.1]], values, [[1.9, 2.9, 3.9]]), axis=0)
ddf2 = dd.from_array(values, columns=['A','B','C'])

      A     B     C
0  0.10  0.03  0.21
1  0.14  0.45  0.20
2  0.58  0.33  0.68

In [35]:
# Detect duplicated rows
# df_merge = pd.merge(df2, df1, on=['A','B','C'], how='outer', indicator='InLarge')
# df_merge['InLarge'] =  ~df_merge['InLarge'].eq('both')
# # As plot
# df_merge['InLarge'].astype(float).plot(marker='.', linestyle='none')
ddf_merge = dd.merge(ddf2, ddf1, on=['A','B','C'], how='outer', indicator='InLarge')
ddf_merge.head()

      A     B     C    InLarge
0  1.10  2.10  3.10  left_only
1  0.10  0.03  0.21       both
2  0.14  0.45  0.20       both
3  0.58  0.33  0.68       both
4  0.37  0.38  0.79       both